IA-08RaBPM:TI-AMCFPGAEVR    timing
SI-08SBFE:DI-PBPM-1         pbpm
SI-08SBFE:DI-PBPM-2         pbpm
#SI-08BCFE:DI-PBPM-1         pbpm
#SI-08BCFE:DI-PBPM-2         pbpm
SI-08SB:DI-BPM-1            rfbpm-sr
SI-08SB:DI-BPM-2            rfbpm-sr
SI-08M1:DI-BPM              rfbpm-sr
SI-08M2:DI-BPM              rfbpm-sr
SI-08C1:DI-BPM-1            rfbpm-sr
SI-08C1:DI-BPM-2            rfbpm-sr
SI-08C2:DI-BPM              rfbpm-sr
SI-08C3:DI-BPM-1            rfbpm-sr
SI-08C3:DI-BPM-2            rfbpm-sr
SI-08C4:DI-BPM              rfbpm-sr
BO-18U:DI-BPM               rfbpm-boo
BO-19U:DI-BPM               rfbpm-boo
BO-20U:DI-BPM               rfbpm-boo
IA-08RaBPM:BS-FOFBCtrl      fofb-ctrl
