IA-17RaBPM:TI-AMCFPGAEVR    timing
# SI-17SAFE:DI-PBPM-1         pbpm
# SI-17SAFE:DI-PBPM-2         pbpm
# SI-17BCFE:DI-PBPM-1         pbpm
# SI-17BCFE:DI-PBPM-2         pbpm
# SI-17SA:DI-BPM-1            rfbpm-sr
# SI-17SA:DI-BPM-2            rfbpm-sr
SI-17M1:DI-BPM              rfbpm-sr
SI-17M2:DI-BPM              rfbpm-sr
SI-17C1:DI-BPM-1            rfbpm-sr
SI-17C1:DI-BPM-2            rfbpm-sr
SI-17C2:DI-BPM              rfbpm-sr
SI-17C3:DI-BPM-1            rfbpm-sr
SI-17C3:DI-BPM-2            rfbpm-sr
SI-17C4:DI-BPM              rfbpm-sr
BO-41U:DI-BPM               rfbpm-boo
BO-42U:DI-BPM               rfbpm-boo
IA-17RaBPM:BS-FOFBCtrl      fofb-ctrl
