IA-12RaBPM:TI-AMCFPGAEVR    1   timing
SI-12SBFE:DI-PBPM-1         4   pbpm
SI-12SBFE:DI-PBPM-2         4   pbpm
#SI-12BCFE:DI-PBPM-1         pbpm
#SI-12BCFE:DI-PBPM-2         pbpm
SI-12SB:DI-BPM-1            6   rfbpm-sr
SI-12SB:DI-BPM-2            6   rfbpm-sr
SI-12M1:DI-BPM              7   rfbpm-sr
SI-12M2:DI-BPM              7   rfbpm-sr
SI-12C1:DI-BPM-1            8   rfbpm-sr
SI-12C1:DI-BPM-2            8   rfbpm-sr
SI-12C2:DI-BPM              9   rfbpm-sr
SI-12C3:DI-BPM-1            9   rfbpm-sr
SI-12C3:DI-BPM-2            10  rfbpm-sr
SI-12C4:DI-BPM              10  rfbpm-sr
BO-28U:DI-BPM               11  rfbpm-boo
BO-29U:DI-BPM               11  rfbpm-boo
BO-30U:DI-BPM               12  rfbpm-boo
IA-12RaBPM:BS-FOFBCtrl      2   fofb-ctrl
